body
{
  color: white;
  background: #99a9e0;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(228, 253, 5);
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: rgb(235, 247, 6);
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
  }
label
{
  font-size: 14px;
  border-radius: 10px;
  color: blue;
  padding: 6px;
  
}
